<%- include('../partials/header')  %> 
<form id="new-collection" action="/crystals/<%= user._id %>/collection" method="POST">
<div id="new">
    <p>CREATE A COLLECTION:</p>
    <input type="text" name="name" placeholder="name" required>
    <input type="submit" value="+ + +">
</div>
</form>
<div class="container">
    <% crystals.forEach(c => { %>
        <div class="new-crystal">
            <a href="/crystals/<%= c._id %>"><img src=<%= c.image %>>
            <h6><%= c.name %> </h6></a>
        </div>
    <% }) %>
</body>
</html>