<%- include('../partials/header')  %> 
    <h2><%= title %></h2>
    <div id="show-container">
        <img src=<%= crystal.image %> class="item-a">
        <h3 class="item-b"><%= crystal.name %></h3>
        <br>
        <div class="item-c">added by: <%= crystal.userCreated.name %> </div>
        <div class="item-d">color/variety: <%= crystal.color %> </div>
        <div class="item-e"><%= crystal.description %></div>
        <div class="item-f">  
            <form id="add-crys-to-coll" action="/crystals/<%= crystal._id %>" method="POST">
                <select class="browser-default" name="collectionId">
                    <% collections.forEach(c => { %>
                        <% if (c.name === undefined) { %>
                        <option>you dont have any :(</option>
                        <% } else { %>
                         <option value=<%= c._id %>><%= c.name %></option>
                        <% } %> 
                 <% }) %> 
                </select>
                <button type="submit">add to collection</button>
            </form>
        </div>
    </div>
</body>
</html>