<%- include('../partials/header')  %> 
    <h2><%= title %></h2>
    <div id="show-container">
        <div class="item-c">added by: <%= chakra.userCreated.name %> </div>
        <div class="item-d">name/color: <%= chakra.color %> </div>
        <div class="item-e"><%= chakra.description %></div>
        <div class="item-f">  
            </form>
        </div>
    </div>
</body>
</html>