<%- include('../partials/header')  %> 
<h3>Update your collection</h3>
    <form action='/collections/<%= collection._id %>?_method=PUT' method='POST'>
        <div class="update-name">new name for collection:</div>
        <input type="text" name="name" value="<%= collection.name %>"class="update-name">
        <button type="submit" name="update">UPDATE</button>
    </form>
    <div id="edit">edit your chakra and crystal:</div>
    <ul>
      <% collection.chakrasAdded.forEach(c => { %>
        <% collection.crystalsAdded.forEach(c => { %>
        <% if (collection.userId.equals(user._id)) { %>
        <form action='/collections/<%= collection._id %>/crystals/chakras/<%= c._id %>?_method=DELETE' method='POST'>
            <li class="cc-show">
                <button type='submit' value='<%= collections._id %>'class="cc-show">x</button><%= c.name %>
            <% } %>
         </li>
        <% }) %>
        </form>
    </ul>
    <form action='/collections/<%= collections._id %>?_method=DELETE' method='POST'>
        <button type='submit' name='delete'>delete entire collection</button>
    </form>

</body>
</html>