<%- include('../partials/header')  %> 
<h3><%= user.name %>'<%= title %> </h3>
<div>
    <% collections.forEach(c => { %>
     <li class="cc">
         <a href="/collections/<%= collections._id %>" class="cc"><%= c.name %></a>
     </li>
    <% }) %>
</div>
</body>
</html>